* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.sec1 {
    width: 100%;
    height: 60vh;
    background-color: #0d394b;
    color: #d3c6b5;
    display: flex;
    align-items: center;
}

.sec1-img {
    width: 45%;
    display: flex;
    justify-content: center;
}

.sec1-img img {
    width: 40%;
}

.sec1-text {
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sec1-text h1 {
    font-size: 75px;
    margin-bottom: 15px;
}

.sec1-text p {
    font-size: 30px;
}

.sec2 {
    width: 100%;
    height: 60vh;
    display: flex;
}

.sec2-img {
    background-color: #f5e0c3c9; 
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec2-img img {
    width: 45%;
}

.sec2-text {
    background-color:  #f5e0c3;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    color: #4b3c30;
}

.sec2-text h1 {
    margin-bottom: 15px;
    font-size: 75px;
}

.sec2-text p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    width: 70%;
    
}

.sec3 {
    width: 100%;
    height: 60vh;
    background-color: #0d394b;
    color: #d3c6b5;
    display: flex;
    align-items: center;
}


.formacao {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: orange;
}

.formacao-text {
    height: 50%;
    width: 70%;
    background-color: aqua;
}

.formacao-text h1 {
    margin-bottom: 25px;
    text-align: center;
    font-size: 50px;
}

.formacao-list {
    width: 70%;
    height: 50%;
    background-color: orangered;

}

.habilidade {
    width: 50%;
    background-color: pink;
    height: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
}
